* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-family: var(--font-manrope);
    color: var(--mist);
    background-color: var(--full-white);
    font-size: 62.5%;
}

